@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* form section */
.form-section {
  text-align: center;
  padding: 25px 0;
  height: 79vh;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background: radial-gradient(circle, #bf8ba6, #644177);
  background-size: cover;
}

.form-section .container {
  position: relative;
  height: 100%;
}

.form-row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg")no-repeat;
  background-color: #360431f2;;
  background-position: bottom center;
  background-size: 300%;
  border-radius: 6px;
}

.form-row h4 {
  font-size: 30px;
  margin: 25px 0;
}

.inp {
  background-color: #67405f;
  margin: 10px 35px;
  padding: 10px;
  border-radius: 4px;
  line-height: 22px;
  letter-spacing: 1px;
  display: flex;
}

.inp_style:focus,
.inp_style:focus {
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.inp i {
  padding: 5px;
}

input {
  background: none;
  border: none;
  margin: 0 5px;
  font-size: 15px;
  font-weight: 400;
  color: #ffeaa7;

}

input::placeholder {
  color: #c4c3ca;
  font-size: 15px;
  font-weight: 700;
  color: #ffeaa7;
  transition: all 200ms linear;
  opacity: 0.7;
}

input:focus {
  outline: none;
  transition: all 600ms linear ease;

}

input:focus::placeholder {
  opacity: 0;
  /* transition: all 600ms linear ease; */
}

/* button section */
.submit {
  display: inline-block;
}

button {
  border-radius: 6px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 15px 35px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  background-color: #ffeaa7;
  /* color: #102770; */
  color: crimson;
  border: none;
  margin: 15px 0;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
}

button:hover {
  /* background-color: #102770; */
  background-color: crimson;
  color: #ffeaa7;
}
/* error section  and password section*/
.error_class{
  text-align: center;
}
.error_class span{
  color: crimson;
}
#eye{
  color: #4C489D;
}
